<div class="homepage-top">

</div>

<div class="container">
  <h1>Find the right fit in every direction</h1>

</div>
<div class="statement">
  <h2>No more job boards</h2>
  <p>For both candidates and employers, the process of finding the right fit can become a long process that in the end turns out to be a losing situation in many directions.</p>
  <p>
    What if we could uncover what everyone is really looking for?
  </p>
  <p>Interview 360 is about that phase in the process, the getting to know you portion but in a way that is benefitial to everyone involved.</p>
</div>
