@import 'bootstrap';

body {
  font-family: Ailerons, Helvetica, sans-serif;
}

.navbar-default {
  border-bottom: 2px solid black;
}

.statement {
  display: flex;
  font-family: Helvetica, sans-serif;
  height: 600px;
  width: auto;
}
